.NewTask form {
    padding-bottom: 15px;
}
  
.NewTask form textarea {
    height: 300px;
    font-size: 24px;
}

.NewTask form #title{
    height: 75px;
    font-size: 32px;
}

.NewTask .date {
    width: 500px;
    margin: 10px 50px 10px 0;

}

.NewTask .points {
    width: 300px;
    margin: 10px 50px 10px 0;
}